.theme-list
{
  height: 50%;
  background-color: @bg-header;
  overflow-y: scroll;
  overflow-x: hidden;
}

.theme-list .task-table
{
  position: relative;
  margin-top: 10px;
}

.theme-list .task-mark
{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  
  background-color: white;
  border: 1px solid #333;
  border-radius: 50%;

  transition: all 0.2s, background-color 0.4s;
}

.theme-list .task-mark.selected
{
  border: 3px solid steelblue;
  transform: scale(1.4);
  transition: transform 0.5s;
}

.theme-list .task-mark:hover
{
  transform: scale(1.4);
}

.theme-list td.connected
{
  position: relative;
}

.theme-list td.connected:before
{
  position: absolute;
  content: '';
  width: 50px;
  top: 15px;
  border-top: 3px solid #ccc;
}

.finished
{
  background-color: skyblue !important;
}


