.theme-section-body
{
  height: 573px;
}

.theme-list
{
  height: 50%;
  background-color: #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
}

.theme-section-body .panel-group
{
  margin: 0;
}

.theme-list .panel-heading
{
  background-color: #EFEFEF;
  border-bottom: 2px solid #ccc;
	color: #3E5A83;
}

.theme-list .panel-heading:hover
{
  cursor: pointer;
}

.theme-list .panel-body
{
	text-align: center;
  color: #333;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 2px solid #ccc;
}

.theme-list .panel-body p
{
  padding: 10px 0;
  font-size: 1.4rem;
}

/******************************
    TASK LINE
*******************************/

.oppgaver
{
  position: relative;
  margin: 0 10px;
}

.oppgaver .task-mark
{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  
  background-color: white;
  border: 1px solid #333;
  border-radius: 50%;
  
  -webkit-transition: all 0.2s, background-color 0.4s;
  transition: all 0.2s, background-color 0.4s;
}

.task-mark.selected
{
  border: 3px solid steelblue;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.oppgaver .task-mark:hover
{
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.oppgaver td.connected
{
  position: relative;
}

.oppgaver td.connected:before
{
  position: absolute;
  content: '';
  width: 50px;
  top: 16px;
  border-top: 3px solid #ccc;
}

.oppgaver .end-cell-right, .oppgaver .end-cell-left
{
  position: relative;
  border-top: 3px solid #ccc;
}

.oppgaver .end-cell-right
{
  border-top-right-radius: 50%;
  border-right: 3px solid #ccc;
}

.oppgaver .end-cell-left
{
  border-top-left-radius: 50%;
  border-left: 3px solid #ccc;
}

.finished
{
  background-color: skyblue !important;
}


