<div id="answerModal"
       role="dialog"
       tabindex="-1"
       class="modal fade"
       aria-labelledby="answerModalLabel">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"><i class="fa fa-close fa-lg"></i></button>
      <h2 class="modal-title" id="answerModalLabel">Fasit</h2>
    </div>

    <div class="modal-body"></div>

    <div class="modal-footer">
      <button type="button"
              class="btn btn-primary btn-close-modal"
              data-dismiss="modal">
        <span class="btn-text">Close</span>
      </button>
      <button type="button"
              class="btn btn-default btn-print-key">
        <span class="btn-text">Print</span>
      </button>
    </div>

  </div>
  </div>
</div>