<div id="retryModal"
     role="dialog"
     tabindex="-1"
     class="modal fade"
     aria-labelledby="retryModalLabel">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true">
        <i class="fa fa-close fa-lg"></i>
      </button>
      <h4 class="modal-title" id="retryModalLabel">Retry</h4>
    </div>
    
    <div class="modal-body">Are you sure you want to retry?</div>

    <div class="modal-footer">
      <button type="button"
              class="btn btn-primary btn-modal-cancel-retry"
              data-dismiss="modal">
        <span class="btn-text">Cancel</span>
      </button>
      <button type="button"
              class="btn btn-default btn-modal-retry">
        <span class="btn-text">Retry</span>
      </button>
    </div>

  </div>
  </div>
</div>