@import url('./match.css');

.task-template
{
  display: none;
}

.task-container
{
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 505px;
  border-right: 2px solid lightgray;
}

.task
{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: scroll;
  background-color: white;
  
  z-index: -2;
}

.fade-screen
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  background-color: black;
  opacity: 0;
}

.task h4
{
  position: relative;
  padding: 30px;
  text-align: center;
}

.task .body
{
  position: relative;
  
  border-radius: 5px;
  padding: 10px;
  background-color: lightsteelblue;
}

.task canvas:hover
{
  cursor: -webkit-grab;
  cursor: grab;
}

.task .options
{
  float: left;
  padding-right: 3%;
}

.task .options .answer-btn
{
  margin: 10px 0;
  padding: 2px 0;
  border-radius: 10px;
  height: 35px;
  font-size: 1.4rem;
}

.task .options .optIcon
{
  position: absolute;
  display: table;
  height: 4.6rem;
  width: 4.6rem;
  
  top: -.8rem;
  left: -3.4rem;
  text-align: center;
  box-sizing: border-box;
  
  border: 3px solid #888;
  background-color: white;
  border-radius: 50%;
}

.task .options .optIcon span
{
  position: relative;
  display: table-cell;
  font-size: 4rem;
  color: dodgerblue;
  text-align: center;
  vertical-align: middle;
  
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s cubic-bezier(.42, 0, .38, 1.47);
  transition: opacity 0.2s, -webkit-transform 0.3s cubic-bezier(.42, 0, .38, 1.47);
  transition: opacity 0.2s, transform 0.3s cubic-bezier(.42, 0, .38, 1.47);
  transition: opacity 0.2s, transform 0.3s cubic-bezier(.42, 0, .38, 1.47), -webkit-transform 0.3s cubic-bezier(.42, 0, .38, 1.47);
  transition: opacity 0.2s, transform 0.3s cubic-bezier(.42, 0, .38, 1.47), -webkit-transform 0.5s cubic-bezier(.42, 0, .38, 1.47);
}

.task .options .visible
{
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.task .options .optText
{
  display: inline-block;
  position: relative;
  width: 90%;
  left: 2rem;
  vertical-align: 40%;
  padding: 0 10px 0 10px;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



