<div class="nav-bar">
	<div class="col-lg-5 col-lg-push-7 col-sm-12">
		<div class="row">

			<div class="col-xs-4 text-center">
				<button class="custom-btn nav-btn btn-quit" tabindex="0">
					<i class="fa fa-times-circle fa-lg"></i>
					<span class="btn-text">Avslutt</span>
				</button>
			</div>

			<div class="col-xs-4 text-center">
				<button data-target="#retryModal"
				data-toggle="modal"
				class="custom-btn nav-btn btn-retry"
				tabindex="0">
					<i class="fa fa-chevron-circle-left fa-lg"></i>
					<span class="btn-text">Prøv Igjen</span>
				</button>
			</div>

			<div class="col-xs-4 text-center">
				<button data-target="#answerModal"
				data-toggle="modal"
				class="custom-btn nav-btn btn-answr-key"
				tabindex="0">
					<i class="fa fa-book fa-lg"></i>
					<span class="btn-text">Fasit</span>
				</button>
			</div>

		</div>
	</div>
</div>