/*************************************
    VARIABLES
**************************************/

@white: white;
@light-gray: #EFEFEF;
@mid-gray: #C3C3C3;

@blue_0: #2F344B;
@blue_1: #191970;
@blue_2: #4682B4;
@blue_3: #1E90FF;
@blue_4: #B0C4DE;
@blue_5: #87CEEB;
@blue_6: #F8F8FF;

@bg-main: @white;
@bg-header: @light-gray;
@bg-task-body: @blue_4;
@bg-sub-header: @blue_2;
@bg-btn: @blue_6;

@border-color: #E0E0E0;
@btn-border-1: @border-color;
@btn-border-2: @border-color - 111;

@title-color: @blue_1;
@sub-title-color: @white;

body
{
  position: relative;
  cursor: default;
  font-size: 1em;
}

.main-content
{
  padding: 5%;
}

h1, h2, h3, h4, h5, h6, ul, p
{
  margin: 0;
  padding: 0;
}

.loading-screen
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @bg-main;
  z-index: 20;
}

.loading-screen div
{
  position: relative;
  width: 8rem;
  margin: auto;
  margin-top: 200px;
  color: @blue_1;
  font-size: 6rem;
}

.header
{
  background-color: @bg-header;
  border-bottom: 5px solid @border-color;
  min-height: 60px;
  color: @title-color;
  margin: 0;
}

.header > div
{
  height: 100%;
}

.header .timer
{
  display: inline-block;
  margin-bottom: 20px;
}

.header div:nth-child(2)
{
  font-size: 1.8rem;
}

.header .toggle-lang
{
  position: absolute;
  left: 20px;
  top: -40px;
  height: 40px;
  font-size: 2rem;
  padding: 5px;
  background-color: @blue_5;
  border: 2px solid @blue_2;
  border-radius: 5px;
}

.header .toggle-lang:hover
{
  cursor: pointer;
}

.right-panel
{
  height: 600px;
}

.right-panel .row
{
  margin: 0;
}

.left-bar
{
  height: 600px;
}

.sub-header
{
  text-align: center;
  background-color: @bg-sub-header;
  border-bottom: 5px solid @border-color;
  color: @sub-title-color;
  font-weight: 100;
  min-height: 60px;
  padding: 10px 0;
  letter-spacing: 0.4rem;
}

[data-toggle="popover"]:focus
{
  outline: none;
}

/*************************************
    UTILITY
**************************************/

.no-gutter > [class*='col-']
{
    padding-right:0;
    padding-left:0;
}

.vcenter-wrapper
{
  display: table;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  float: none;
}

.vcenter
{
  display: table-cell;
  vertical-align: middle;
}

/*************************************
    BUTTONS
**************************************/
.custom-btn
{
	position: relative;
  display: inline-block;
  width: 99%;
  
  margin: 0 auto;

  border-radius: 5px;
  background-color: @bg-btn;
  border-top: 3px solid @btn-border-1;
  border-left: 3px solid @btn-border-1;
  border-right: 3px solid @btn-border-2;
  border-bottom: 3px solid @btn-border-2;
}

.custom-btn span.fa
{
  width: 20px;
  height: 20px;
}

.custom-btn:hover
{
  cursor: pointer;
}

.nav-bar .hint .btn-hint
{
  position: absolute;
  width: 50px;
  height: 50px;
  padding-top: 3px;
  top: -60px;
  left: 10px;

  text-align: center;
  border-radius: 50%;
  font-size: 2.5rem;
  color: @title-color;
}

.nav-bar .hint .hint-text
{
  position: absolute;
  width: 0;
  height: 40px;
  top: -54px;
  left: 30px;
  padding-left: 40px;

  text-align: left;
  font-size: 1.4rem;
  opacity: 0;
  overflow: hidden;

  border-radius: 5px;
  background-color: @bg-btn;
  border: 3px solid @bg-sub-header;
}

/*************************************
    NAV BAR
**************************************/

.nav-bar
{
  position: relative;
  margin: 0;
  height: 65px;
  padding-top: 10px;
  background-color: @bg-header;
  border-top: solid @border-color 5px;
}

.nav-bar .nav-btn
{
  height: 35px;
  padding-top: 6px;
  font-size: 1.4rem;
  overflow: hidden;
}

.nav-bar .nav-btn:hover
{
  color: @bg-sub-header;
}

@import url('./components/info-panel/info-panel.less');
@import url('./components/results/scorepage.less');
@import url('./components/tasks/tasks.less');
@import url('./components/theme-list/theme-list.less');

/*************************************
    @MEDIA
**************************************/
@media (max-width: 1200px)
{
  .task .options div.clearfix
  {
    margin: 10px 0;
  }
  
  .task .options div.clearfix
  {
    margin: 10px 0;
  }
  
  .task h3
  {
    padding: 20px;
  }
  
  .sub-header
  {
    padding-top: 15px;
    font-size: 2.4rem;
  }
}

@media (max-width: 990px)
{
  .header > *
  {
    text-align: center;
  }
  
  .oppgaver
  {
    position: relative;
    margin: auto;
  }
  
  .info-panel td, .theme-list p, .header div
	{
		font-size: 1.8rem !important;
	}
  
  .info-panel, .theme-list, .theme-section-body, .bars
  {
    height: auto;
  }
  
  .divider
  {
    display: none;
  }
  
  .task-container
  {
    border-left: 2px solid @border-color;
  }
}


@media (max-width: 768px)
{ 
  .main-content
  {
    padding: 5px 5px;
  }
  
  .task-container
  {
    height: 450px;
  }
}
